.app {
  padding: 30px;
  display: flex;
}

.app > div {
  margin-right: 50px;
}

body {
}

.error {
  color: red;
}

.error-message {
  border: 2px solid red;
  outline: none;
}

.active {
  background-color: bisque;
  border: 2px solid chocolate;
}
